* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: 0px 3px 5px rgb(195, 195, 195);
}
header .navbar {
  position: absolute;
  left: 0;
  margin: 20px;
}
header .navbar .navbar__link {
  color: rgb(70, 66, 66);
}

.fa-arrow-left {
  font-size: 1.2rem;
}

.header__logo {
  margin: 15px 0px;
}
.header__logo .header__logo--size {
  height: 30px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.info .info__location {
  width: 100%;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 15px 0px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2509803922);
}
.info .info_reserver {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
  margin-top: 6px;
}

.navbar__link,
.info__location-form {
  display: none;
}