* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.fa-solid--dark {
  color: #353535;
}

.fa-solid--grey {
  color: #7E7E7E;
}

.fa-solid--purple {
  color: #9356DC;
}

.fa-solid--white {
  color: #FFFFFF;
}

h1 {
  font-family: "Shrikhand", serif;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: 5px;
}

p {
  font-weight: 300;
  font-size: 1.125rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 30px;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2509803922);
  height: 50px;
}
.btn .btn--txt {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.btn:hover {
  opacity: 0.85;
}

.btn--commander {
  padding: 0px 50px;
}

.badge-nouveau {
  background-color: #99E2D0;
  font-size: 14px;
  font-weight: 500;
  color: #008766;
  position: absolute;
  padding: 5px 12px 5px 12px;
  border-radius: 2px;
}
.badge-nouveau .badge-nouveau--txt {
  font-size: 14px;
  font-weight: 500;
}

.card-choice {
  background-color: #FFFFFF;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  padding: 10px 16px 5px 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2509803922);
}
.card-choice .card-choice__content h4, .card-choice .card-choice__content p {
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
}
.card-choice .card-choice__content h4 {
  font-size: 1.025rem;
}
.card-choice .card-choice__content p {
  font-size: 0.925rem;
}
.card-choice .card-choice__price {
  margin-top: 1.4rem;
  margin-right: 0.2rem;
}
.card-choice .card-choice__price p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.restaurants_cards {
  width: 100%;
  padding: 50px 20px 35px 20px;
  background-color: #F6F6F6;
}
.restaurants_cards .restaurants_cards__cards {
  height: 251px;
  background-color: #FFFFFF;
  border-radius: 25px;
  margin-bottom: 20px;
}
.restaurants_cards .restaurants_cards__cards img {
  width: 100%;
  max-height: 70%;
  height: 231px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.a--color {
  color: black;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 20px 15px;
  height: 30%;
}

.card-content__heart {
  position: relative;
  height: 30px;
  width: 30px;
}

.fa-heart {
  font-size: 22px;
  position: absolute;
}

.heart-empty {
  margin-right: 10px;
}

.heart-full {
  opacity: 0;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin-right: 10px;
  background-image: linear-gradient(#9356DC, #FF79DA);
}
.heart-full:hover {
  opacity: 1;
}
.heart-full:active {
  opacity: 1;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: 0px 1px 5px rgb(195, 195, 195);
}
header .navbar {
  position: absolute;
  left: 0.25rem;
  bottom: 0.25rem;
  margin: 20px;
}

.fa-arrow-left {
  font-size: 1.2rem;
}

.header__logo {
  margin: 15px 0px;
}
.header__logo .header__logo--size {
  height: 30px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.info .info__location {
  width: 100%;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 15px 0px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2509803922);
}
.info .info__reserver {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #F6F6F6;
  margin-top: 6px;
  padding: 30px 30px 40px 30px;
}
.info .info__reserver h2, .info .info__reserver p {
  font-family: "Roboto", sans-serif;
}
.info .info__reserver h2 {
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.info .info__reserver p {
  font-weight: 300;
  font-size: 1.125rem;
}
.info .info__reserver .info__reserver--marg {
  margin-bottom: 30px;
}

.Fonctionnement {
  width: 100%;
  padding: 50px 20px 35px 20px;
}
.Fonctionnement .Fonctionnement__card__card {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
  background-color: #F6F6F6;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2509803922);
}
.Fonctionnement .Fonctionnement__card__card:hover i {
  color: #9356DC;
}
.Fonctionnement .tuto-nb {
  position: absolute;
  left: -15px;
  background-color: #9356DC;
  color: #ffffff;
  border-radius: 50px;
  padding: 5px 10px;
}

.page-footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  margin-bottom: 0;
  background-color: #353535;
  padding: 20px;
}
.page-footer .page-footer__logo {
  color: #ffffff;
  font-family: "Shrikhand", serif;
}
.page-footer li {
  padding-bottom: 6px;
}
.page-footer a {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}
.page-footer i {
  width: 25px;
}

.info__location-form {
  display: none;
}

.restaurants_cards__cards {
  position: relative;
}
.restaurants_cards__cards .badge-nouveau {
  top: 1rem;
  right: 1rem;
}

body {
  display: flex;
  flex-direction: column;
}
body .main-container {
  display: flex;
  flex-direction: column;
  height: auto;
}
body .main-container img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
body .main-container .menu-container {
  width: 100%;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-radius: 50px 50px 0px 0px;
  background-color: #F6F6F6;
  padding: 0px 15px 40px 15px;
}
body .main-container .menu-container .Restaurant-title {
  display: flex;
  justify-content: space-between;
  margin: 40px 0px 20px 0px;
}
body .main-container .menu-container .Restaurant-title h2, body .main-container .menu-container .Restaurant-title .menu-title-heart {
  font-size: 1.75rem;
}
body .main-container .menu-container .Restaurant-title h2 {
  font-family: "Shrikhand", serif;
}
body .main-container .menu-container .Restaurant-title .card-content__heart {
  padding-top: 0.4rem;
  margin-right: 10px;
}

.meals {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}
.meals h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
.meals h3 .underline-style {
  border-bottom: 0.2rem solid #99E2D0;
  padding-bottom: 4px;
}