* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.fa-solid--dark {
  color: #353535;
}

.fa-solid--grey {
  color: #7E7E7E;
}

.fa-solid--purple {
  color: #9356DC;
}

.fa-solid--white {
  color: #FFFFFF;
}

h1 {
  font-family: "Shrikhand", serif;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 5px;
}

p {
  font-weight: 300;
  font-size: 1.125rem;
}

.card-choice {
  overflow: hidden;
}
.card-choice__check {
  width: 59px;
  margin-right: -59px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 15px 15px 0px;
  transition: margin-right 0.5s;
}
.card-choice__check i {
  border-radius: 50%;
  background-color: white;
  color: #99E2D0;
  padding: 4px 4px 4px 4px;
  font-size: 0.7rem;
}

.card-choice:hover .card-choice__check {
  margin-right: 0;
}

@keyframes apparition {
  100% {
    opacity: 1;
    transform: none;
  }
}
.Restaurant-title > h2 {
  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 0.1s 0.8s ease-out forwards;
}

.meals > h3 {
  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 0.5s 1s ease-out forwards;
}

.meals > article:nth-child(2) {
  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 0.8s 1.4s ease-out forwards;
}
.meals > article:nth-child(3) {
  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 0.8s 1.7s ease-out forwards;
}
.meals > article:nth-child(4) {
  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 0.8s 2s ease-out forwards;
}
.meals > article:nth-child(5) {
  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 0.8s 2.3s ease-out forwards;
}

.loader {
  position: fixed;
  inset: 0;
  background-color: white;
  opacity: 0.9;
  height: 100vh;
  z-index: 1;
  display: grid;
  place-items: center;
  animation: loader-disappear 0.8s 2s forwards;
  transform-origin: top;
  background-image: linear-gradient(#9356DC, #FF79DA);
}

@keyframes loader-disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 30px;
  color: #ffffff;
  box-shadow: 0px 10px 9px 0px rgba(0, 0, 0, 0.15);
  height: 50px;
}
.btn .btn--txt {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.btn:hover {
  opacity: 0.85;
}

.btn--commander {
  padding: 0px 50px;
}

.badge-nouveau {
  background-color: #99E2D0;
  font-size: 14px;
  font-weight: 500;
  color: #008766;
  position: absolute;
  padding: 5px 12px 5px 12px;
  border-radius: 2px;
}
.badge-nouveau .badge-nouveau--txt {
  font-size: 14px;
  font-weight: 500;
}

.card-choice {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  display: flex;
  width: 100%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.card-choice .card-choice__content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 10px 0px 5px 16px;
}
.card-choice .card-choice__content h4, .card-choice .card-choice__content p {
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-choice h4 {
  font-size: 1.025rem;
}
.card-choice p {
  font-size: 0.925rem;
}

.card-choice__price {
  margin-left: auto;
  display: flex;
  flex-direction: column-reverse;
  padding: 0px 10px 5px 0px;
}
.card-choice__price p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.restaurants_cards {
  width: 100%;
  padding: 50px 20px 35px 20px;
  background-color: rgb(246, 246, 246);
}
.restaurants_cards .restaurants_cards__cards {
  height: 251px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  margin-bottom: 20px;
}
.restaurants_cards .restaurants_cards__cards img {
  width: 100%;
  max-height: 70%;
  height: 231px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.a--color {
  color: black;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 20px 15px;
  height: 30%;
}

.card-content__heart {
  position: relative;
  height: 30px;
  width: 30px;
}

.fa-heart {
  font-size: 22px;
  position: absolute;
}

.heart-empty {
  margin-right: 10px;
}

.heart-full {
  opacity: 0;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin-right: 10px;
  background-image: linear-gradient(#9356DC, #FF79DA);
}
.heart-full:hover {
  opacity: 1;
}
.heart-full:active {
  opacity: 1;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: 0px 1px 5px rgb(195, 195, 195);
}
@media (min-width: 1024px) {
  header {
    box-shadow: none;
  }
}
header .navbar {
  position: absolute;
  left: 0.25rem;
  bottom: 0.25rem;
  margin: 20px;
}

.fa-arrow-left {
  font-size: 1.2rem;
}

.header__logo {
  margin: 15px 0px;
}
.header__logo .header__logo--size {
  height: 30px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.info .info__location {
  width: 100%;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 15px 0px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2509803922);
}
@media (min-width: 1024px) {
  .info .info__location {
    box-shadow: none;
  }
}
.info .info__location input {
  border: none;
  background-color: transparent;
  width: 120px;
}
.info .info__location input::-moz-placeholder {
  color: black;
}
.info .info__location input::placeholder {
  color: black;
}
.info .info__reserver {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgb(246, 246, 246);
  margin-top: 6px;
  padding: 30px 30px 40px 30px;
}
@media (min-width: 1024px) {
  .info .info__reserver {
    margin-top: 0;
  }
}
.info .info__reserver h2, .info .info__reserver p {
  font-family: "Roboto", sans-serif;
}
.info .info__reserver h2 {
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .info .info__reserver h2 {
    font-size: 2.5rem;
  }
}
.info .info__reserver p {
  font-weight: 300;
  font-size: 1.125rem;
}
.info .info__reserver .info__reserver--marg {
  margin-bottom: 30px;
}

.Fonctionnement {
  width: 100%;
  padding: 50px 20px 35px 20px;
  background-color: rgb(255, 255, 255);
}
@media (min-width: 1024px) {
  .Fonctionnement {
    padding-left: 150px;
    padding-right: 150px;
  }
}
.Fonctionnement .Fonctionnement__cards {
  padding-left: 8px;
}
@media (min-width: 1024px) {
  .Fonctionnement .Fonctionnement__cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
  }
}
.Fonctionnement .Fonctionnement__card__card {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
  background-color: rgb(246, 246, 246);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.Fonctionnement .Fonctionnement__card__card i {
  font-size: 1.125rem;
  height: 25px;
}
.Fonctionnement .Fonctionnement__card__card:hover i {
  color: #9356DC;
}
.Fonctionnement .tuto-nb {
  height: 24px;
  width: 24px;
  position: absolute;
  left: -10px;
  background-color: #9356DC;
  color: #ffffff;
  border-radius: 50px;
  padding: 3px 8px;
  font-size: 1rem;
}

.page-footer {
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 0;
  background-color: #353535;
  padding: 20px;
}
@media (min-width: 1024px) {
  .page-footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
  }
}
.page-footer .page-footer__logo {
  color: #ffffff;
  font-family: "Shrikhand", serif;
  font-weight: 400;
}
@media (min-width: 1024px) {
  .page-footer .page-footer__logo {
    margin: 40px 40px 10px 100px;
  }
}
@media (min-width: 1024px) {
  .page-footer ul {
    margin-bottom: 10px;
    margin-left: 50px;
    display: flex;
  }
}
.page-footer li {
  padding-bottom: 6px;
}
@media (min-width: 1024px) {
  .page-footer li {
    padding-left: 15px;
  }
}
.page-footer a {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}
.page-footer i {
  width: 25px;
}
@media (min-width: 1024px) {
  .page-footer .page-footer__list1 {
    display: flex;
    order: 1;
  }
}
@media (min-width: 1024px) {
  .page-footer .page-footer__list2 {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .restaurants_cards {
    padding-left: 150px;
    padding-right: 150px;
  }
}

@media (min-width: 1024px) {
  .desktop-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 90px;
         column-gap: 90px;
    row-gap: 25px;
  }
}

.restaurants_cards__cards {
  position: relative;
}
.restaurants_cards__cards .badge-nouveau {
  top: 1rem;
  right: 1rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: auto;
}
.main-container img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1024px) {
  .main-container img {
    height: 383px;
  }
}
.main-container .menu-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-radius: 50px 50px 0px 0px;
  background-color: rgb(246, 246, 246);
  margin-top: -3rem;
  padding: 0px 15px 40px 15px;
}
@media (min-width: 1024px) {
  .main-container .menu-container {
    width: 75%;
    margin: -3rem auto 0 auto;
    padding: 0 12% 2.5rem 12%;
  }
}
.main-container .menu-container .Restaurant-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 40px 0px 20px 0px;
}
@media (min-width: 1024px) {
  .main-container .menu-container .Restaurant-title {
    justify-content: center;
    gap: 2rem;
  }
}
.main-container .menu-container .Restaurant-title h2, .main-container .menu-container .Restaurant-title .menu-title-heart {
  font-size: 1.75rem;
}
.main-container .menu-container .Restaurant-title h2 {
  font-family: "Shrikhand", serif;
  font-weight: 400;
}
.main-container .menu-container .Restaurant-title .card-content__heart {
  padding-top: 0.4rem;
  margin-right: 10px;
}

.meals {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}
.meals h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
.meals h3 .underline-style {
  border-bottom: 0.2rem solid #99E2D0;
  padding-bottom: 4px;
}