.badge-nouveau{
    background-color: #99E2D0;
    font-size: 14px;
    font-weight: 500;
    color: #008766;
    position: absolute;
    
    padding: 5px 12px 5px 12px;
    border-radius: 2px;
    .badge-nouveau--txt{
        font-size: 14px;
        font-weight: 500;
    }
}