// unité carte de plat
.card-choice{
    background-color: $bg-card;
    border-radius: 15px;
    display: flex;
    // justify-content: space-between;
    width: 100%;
    
    // padding: 10px 16px 5px 16px;
    @include box-shadow;
    .card-choice__content{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        padding: 10px 0px 5px 16px;
        h4,p{
            margin-bottom: 5px;
            font-family: $text;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
           
            }
            
        }
        h4{
            font-size: 1.025rem;
        }
        p{
            font-size: 0.925rem;
        }

  
        }
    
    .card-choice__price{
        margin-left: auto;
        display: flex;
        flex-direction: column-reverse;
        padding: 0px 10px 5px 0px;
        p{
        font-family: $text;
        font-weight: 700;
        
    }   
        }
       


