// Animation au survol, ajout d'un plat a la commande
.card-choice{
    overflow: hidden;
    &__check{
        $check-width: 59px;
        width: $check-width;
        margin-right: -$check-width;
        background-color: $color-tertiaire;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px 15px 15px 0px;
        
        
        


    i{

        border-radius: 50%;
        background-color: white;
        color: $color-tertiaire;
        padding: 4px 4px 4px 4px;
        font-size: 0.7rem;
    }
}

}
 
.card-choice:hover{
       .card-choice__check{
        margin-right: 0;
        
    } 
       
    }
    

   
// apparition des menus en décalé
@keyframes apparition{
    100%{
        opacity: 1;
        transform: none;
    }
}
.Restaurant-title > h2{
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.1s 0.8s ease-out forwards;
    }

.meals{
    & > h3{
        opacity: 0;
        transform: translateY(-30px);
        animation: apparition 0.5s 1.0s ease-out forwards;
    }
}
.meals{
    & > article:nth-child(2){
        opacity: 0;
        transform: translateY(-30px);
        animation: apparition 0.8s 1.4s ease-out forwards;
    }
    & > article:nth-child(3){
        opacity: 0;
        transform: translateY(-30px);
        animation: apparition 0.8s 1.7s ease-out forwards;
    }
    & > article:nth-child(4){
        opacity: 0;
        transform: translateY(-30px);
        animation: apparition 0.8s 2.0s ease-out forwards;
    }
    & > article:nth-child(5){
        opacity: 0;
        transform: translateY(-30px);
        animation: apparition 0.8s 2.3s ease-out forwards;
    }
}