// Animation au survol, ajout d'un plat a la commande

@keyframes coche{
    from{
        transform: translateX(60px);
    }
    to{transform: translateX();

    }
}
.bloc-price-coche{
    display: flex;
    flex-direction: row;
    transition: transform 330ms ease-in-out;
    .card-choice__price{
    transform: translate(51px,0);
    transition: transform 900ms;
    }

    .coche-plat{
        width: 59px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-tertiaire;
        border-radius: 0px 15px 15px 0px;
        // transform: scaleX(0);
        transform: translateX(0);
        transition: transform 900ms;
        transform-origin: 100% 50%;


    i{

        border-radius: 50%;
        background-color: white;
        color: $color-tertiaire;
        padding: 4px 4px 4px 4px;
        font-size: 0.7rem;
    }


}
 }
.card-choice:hover{
    & > .bloc-price-coche{
       & > .coche-plat{
        transform: scaleX(1);
        
    } 
        & > .card-choice__price{
            transform: translate(0px,0)
        }
    }
    
}
   
// apparition des menus en décalé
@keyframes apparition{
    100%{
        opacity: 1;
        transform: none;
    }
}
.Restaurant-title > h2{
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.1s 0.8s ease-out forwards;
    }

.meals{
    & > h3{
        opacity: 0;
        transform: translateY(-30px);
        animation: apparition 0.5s 1.0s ease-out forwards;
    }
}
.meals{
    & > article:nth-child(2){
        opacity: 0;
        transform: translateY(-30px);
        animation: apparition 0.8s 1.4s ease-out forwards;
    }
    & > article:nth-child(3){
        opacity: 0;
        transform: translateY(-30px);
        animation: apparition 0.8s 1.7s ease-out forwards;
    }
    & > article:nth-child(4){
        opacity: 0;
        transform: translateY(-30px);
        animation: apparition 0.8s 2.0s ease-out forwards;
    }
    & > article:nth-child(5){
        opacity: 0;
        transform: translateY(-30px);
        animation: apparition 0.8s 2.3s ease-out forwards;
    }
}