// Colors
$color-primaire: #9356DC;
$color-secondaire: #FF79DA;
$color-tertiaire: #99E2D0;

$bg: #F6F6F6;
$bg-grey2: #EAEAEA;

$white-txt: #ffffff;




// Fonts
$logo-and-title: "Shrikhand", serif;
$text: "Roboto", sans-serif;

// Fonts
@mixin titles {
    font-family: $text;
    font-weight: 700;
}

h1{
    font-family: $logo-and-title;
}
h2{
    @include titles;
    font-size: 1.5rem;   
    margin-bottom: 30px;
    margin-top: 50px;
}

p{
    @include titles;
    font-weight: 300;
    font-size: 1.125rem;  
}


