// Colors
$color-primaire: #9356DC;
$color-secondaire: #FF79DA;
$color-tertiaire: #99E2D0;

$bg: #F6F6F6;
$bg-grey2: #EAEAEA;

// Fonts
p{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    
    
}

