// Colors
$color-primaire: #9356DC;
$color-secondaire: #FF79DA;
$color-tertiaire: #99E2D0;

$bg: #F6F6F6;
$bg-grey2: #EAEAEA;
$bg-footer: #353535;

$white-txt: #ffffff;

// Icons color
.fa-solid--dark{
    color: #353535 ;
}
.fa-solid--grey{
    color: #7E7E7E ;
}
.fa-solid--purple{
    color: #9356DC ;
}
.fa-solid--white{
    color: #FFFFFF ;
}
// Fonts
$logo-and-title: "Shrikhand", serif;
$text: "Roboto", sans-serif;

// Fonts
@mixin titles {
    font-family: $text;
    font-weight: 700;
}

h1,h2{
    @include titles;
    font-size: 1.5rem;  
    margin-top: 30px; 
    margin-bottom: 15px;
}

p{
    @include titles;
    font-weight: 300;
    font-size: 1.125rem;  
}


