
.navbar__link,   // lien-goback masqué 
.info__location-form{    // location form hidden
    display: none;

}
// position badge nouveau
.restaurants_cards__cards{
    position: relative;
    .badge-nouveau{
        top: 1rem;
        right: 1rem;
    }
}


