// mise en forme section info
@mixin section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
// mise en forme section
@mixin container{
    width: 100%;
    padding: 50px 30px 35px 30px;
    
}