header{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow: 0px 1px 5px rgb(195, 195, 195) ;
    @media (min-width: 1024px){
        box-shadow: none;
        
    }
    .navbar{
        position: absolute;
        left: 0.25rem;
        bottom: 0.25rem;
        margin: 20px;
        
        
    }
}

.fa-arrow-left{
    font-size: 1.2rem ;
    
}

// logo
.header__logo{
    margin: 15px 0px;
    .header__logo--size{
    height: 30px;
    }
}



