header{
    width: 100%;
    display: flex;
    justify-content: center;
    
    position: relative;
    
    .navbar{
        position: absolute;
        left: 0;
        margin: 20px;
        .navbar__link{
            color: rgb(70, 66, 66);
        }
    }
}

.fa-arrow-left{
    font-size: 1.2rem ;
    
}

// logo
.header__logo{
    margin: 15px 0px;
    .header__logo--size{
    height: 30px;
    }
}



